body {
  background-color: black;
  height: 300vh;
}

.text-box {
  margin-top: 400px;
  font-size: 78px;
  font-family: 'Bebas Nenu' serif;
  line-height: 1.2;

  .mask {
    .text {
      -webkit-text-fill-color: rgba(255, 255, 255, 0.2);
      // 배경 클립을 텍스트 영역으로 제한, 텍스트 외부로 나가지 않게함
      background-clip: text;
      -webkit-background-clip: text;
      background-repeat: no-repeat;
      background-image: linear-gradient(white, white);
      background-size: 0% 100%;
    }
  }
}
